* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --text-light-opacity: hsla(210, 46%, 95%, 0.5);
  --text-dark-opacity: hsl(219, 29%, 14%, 0.5);
}

body {
  background-color: var(--light-grayish-blue);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 1rem;
}

main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card {
  background-color: white;
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 2rem 2.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(201, 201, 201, 0.2);
          box-shadow: 0 0 0.5rem rgba(201, 201, 201, 0.2);
}

.card .user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.6rem;
}

.card .user .user-photo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  image-rendering: crisp-edges;
  width: 38px;
  height: 38px;
  border: 2.5px solid var(--light-gray);
  border-radius: 50%;
  margin-right: 1.15rem;
}

.card .user .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .user .user-info .user-name {
  color: var(--light-grayish-blue);
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.card .user .user-info .verified {
  color: var(--text-light-opacity);
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.card .title {
  width: 100%;
  color: var(--light-grayish-blue);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: start;
  letter-spacing: 0.03rem;
  line-height: 1.8rem;
  margin-bottom: 1.43rem;
  padding-right: 0.5rem;
}

.card .main-text {
  color: var(--text-light-opacity);
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.45rem;
  padding-right: 0.5rem;
}

.card.light .user .user-photo {
  border: 0;
}

.card.light .user .user-info .user-name {
  color: var(--very-dark-grayish-blue);
}

.card.light .user .user-info .verified {
  color: var(--text-dark-opacity);
}

.card.light .title {
  color: var(--very-dark-grayish-blue);
}

.card.light .main-text {
  color: var(--text-dark-opacity);
}

.card--1 {
  background-color: var(--moderate-violet);
  position: relative;
  z-index: 1;
}

.card--1::before {
  content: '';
  background-image: url("../assets/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  image-rendering: optimizeQuality;
  max-width: 130px;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  right: 14%;
  z-index: -1;
}

.card--2 {
  background-color: var(--very-dark-grayish-blue);
}

.card--2 .user .user-photo {
  border: 0;
}

.card--4 {
  background-color: var(--very-dark-blackish-blue);
}

.card--4 .user .user-photo {
  border: 0.15rem solid var(--moderate-violet);
}
/*# sourceMappingURL=main.css.map */