@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 900px) {
  body {
    align-items: center;
    padding: 2rem 0 1rem;
  }

  main {
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    grid-template-areas: 'card-1 card-1 card-2 card-5'
                         'card-3 card-4 card-4 card-5';
  }

  .card {
    max-width: none;
    height: 100%;
    margin: 0;

    .title {
      font-size: 1.5rem;
      padding-right: 0;

    }

    .main-text {
      font-size: 1.00rem;
      padding-right: 0;
    }
  }

  .card--1 {
    grid-area: card-1;
  }

  .card--2 {
    grid-area: card-2;
  }

  .card--3 {
    grid-area: card-3;
  }

  .card--4 {
    grid-area: card-4;
  }

  .card--5 {
    grid-area: card-5;
  }
}